name: task3-baseline
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - numpy
  - pandas
  - pillow
  - pytorch
  - torchvision
  - pytorch-cuda=11.8
  - tqdm
  - pip
